@import "tailwindcss";

html, body, #root {
  height: 100%;
  overflow: hidden;
}

.input {
  @apply w-full rounded-xl border border-gray-200 px-3 py-2 text-sm outline-none focus:ring-2 focus:ring-gray-300 focus:border-gray-400 bg-white;
}

@keyframes toast-in {
  from {
    opacity: 0;
    transform: translateY(12px) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-toast-in {
  animation: toast-in 0.22s ease-out;
}

@keyframes toast-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}



/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #111827 transparent; /* grey-900 */
}

/* Chrome / Edge / Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #111827; /* grey-900 */
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #1f2937; /* grey-800 on hover */
}
