@import "tailwindcss";

html, body, #root {
  height: 100%;
  overflow: hidden;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #111827 transparent; /* grey-900 */
}

/* Chrome / Edge / Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #111827; /* grey-900 */
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #1f2937; /* grey-800 on hover */
}
